<a href="https://colab.research.google.com/github/adrien50/Human-Activity-Recognition/blob/main/modelrunwalk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Upload libraries

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt

from subprocess import check_output
from datetime import time

In [ ]:
# Load Dataset 
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [ ]:
train.head()

        date                time username  ...  gyro_x  gyro_y  gyro_z
0  2017-6-30  13:51:15:847724020   viktor  ... -0.0590  0.0325 -2.9296
1  2017-6-30  13:51:16:246945023   viktor  ... -0.1757  0.0208  0.1269
2  2017-6-30  13:51:16:446233987   viktor  ... -0.9105  0.1063 -2.4367
3  2017-6-30  13:51:16:646117985   viktor  ...  0.1199 -0.4099 -2.9336
4  2017-6-30  13:51:16:846738994   viktor  ...  0.0527  0.4379  2.4922

[5 rows x 11 columns]

In [ ]:
test.head()

        date                time username  ...  gyro_x  gyro_y  gyro_z
0  2017-6-30  13:51:15:847724020   viktor  ... -0.0590  0.0325 -2.9296
1  2017-6-30  13:51:16:246945023   viktor  ... -0.1757  0.0208  0.1269
2  2017-6-30  13:51:16:446233987   viktor  ... -0.9105  0.1063 -2.4367
3  2017-6-30  13:51:16:646117985   viktor  ...  0.1199 -0.4099 -2.9336
4  2017-6-30  13:51:16:846738994   viktor  ...  0.0527  0.4379  2.4922

[5 rows x 11 columns]

In [ ]:
train.shape,test.shape

((88588, 11), (88588, 11))

In [ ]:
# Drop date, time and username and wrist
train = train.drop(["date", "time", "username", "wrist"] , axis=1)
test = test.drop(["date", "time", "username", "wrist"] , axis=1)

In [ ]:
train.head()

   activity  acceleration_x  acceleration_y  ...  gyro_x  gyro_y  gyro_z
0         0          0.2650         -0.7814  ... -0.0590  0.0325 -2.9296
1         0          0.6722         -1.1233  ... -0.1757  0.0208  0.1269
2         0          0.4399         -1.4817  ... -0.9105  0.1063 -2.4367
3         0          0.3031         -0.8125  ...  0.1199 -0.4099 -2.9336
4         0          0.4814         -0.9312  ...  0.0527  0.4379  2.4922

[5 rows x 7 columns]

In [ ]:
test.head()

   activity  acceleration_x  acceleration_y  ...  gyro_x  gyro_y  gyro_z
0         0          0.2650         -0.7814  ... -0.0590  0.0325 -2.9296
1         0          0.6722         -1.1233  ... -0.1757  0.0208  0.1269
2         0          0.4399         -1.4817  ... -0.9105  0.1063 -2.4367
3         0          0.3031         -0.8125  ...  0.1199 -0.4099 -2.9336
4         0          0.4814         -0.9312  ...  0.0527  0.4379  2.4922

[5 rows x 7 columns]

In [ ]:
# suffling data 
from sklearn.utils import shuffle
test  = shuffle(test)
train = shuffle(train)

In [ ]:
# separating data inputs and output lables 
trainData  = train.drop("activity" , axis=1).values
trainLabel = train.activity.values

testData  = test.drop('activity' , axis=1).values
testLabel = test.activity.values

In [ ]:
# encoding labels 
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()

# encoding test labels 
encoder.fit(testLabel)
testLabelE = encoder.transform(testLabel)

# encoding train labels 
encoder.fit(trainLabel)
trainLabelE = encoder.transform(trainLabel)

In [ ]:
# Define the function for training, testing and splitting
def get_all_data():
    train_values = train.values
    test_values = test.values
    np.random.shuffle(train_values)
    np.random.shuffle(test_values)
    X_train = train_values[:, 1:]
    X_test = test_values[:, 1:]
    y_train = train_values[:, 0]
    y_test = test_values[:, 0]
    return X_train, X_test, y_train, y_test

In [ ]:
# Scale features to be between -1 and 1
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train, X_test, y_train, y_test = get_all_data()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
# target variable is categorical. so we will apply some classification model

In [ ]:
# applying supervised neural network using multi-layer preceptron 
# we import our estimator from the neural_network library of SciKit-Learn!
import sklearn.neural_network as nn 
mlpADAM  =  nn.MLPClassifier(hidden_layer_sizes=(15,)  \
                        , max_iter=1000 , alpha=1e-4  \
                        , solver='adam' , verbose=10   \
                        , tol=1e-19 , random_state=1  \
                        , learning_rate_init=.001)

In [ ]:
mlpADAM.fit(X_train,y_train)

Iteration 1, loss = 0.55885636
Iteration 2, loss = 0.20559108
Iteration 3, loss = 0.13353286
Iteration 4, loss = 0.10321237
Iteration 5, loss = 0.08599697
Iteration 6, loss = 0.07523443
Iteration 7, loss = 0.06826913
Iteration 8, loss = 0.06355605
Iteration 9, loss = 0.06029110
Iteration 10, loss = 0.05790966
Iteration 11, loss = 0.05608314
Iteration 12, loss = 0.05472172
Iteration 13, loss = 0.05362574
Iteration 14, loss = 0.05267878
Iteration 15, loss = 0.05190410
Iteration 16, loss = 0.05117218
Iteration 17, loss = 0.05054987
Iteration 18, loss = 0.04985189
Iteration 19, loss = 0.04925895
Iteration 20, loss = 0.04865719
Iteration 21, loss = 0.04807053
Iteration 22, loss = 0.04751011
Iteration 23, loss = 0.04701273
Iteration 24, loss = 0.04652701
Iteration 25, loss = 0.04605704
Iteration 26, loss = 0.04562963
Iteration 27, loss = 0.04514170
Iteration 28, loss = 0.04479100
Iteration 29, loss = 0.04439106
Iteration 30, loss = 0.04396111
Iteration 31, loss = 0.04370178
Iteration 32, loss = 0.04348713
Iteration 33, loss = 0.04317846
Iteration 34, loss = 0.04283519
Iteration 35, loss = 0.04262974
Iteration 36, loss = 0.04240597
Iteration 37, loss = 0.04206584
Iteration 38, loss = 0.04194993
Iteration 39, loss = 0.04173383
Iteration 40, loss = 0.04146901
Iteration 41, loss = 0.04134407
Iteration 42, loss = 0.04111910
Iteration 43, loss = 0.04094461
Iteration 44, loss = 0.04084527
Iteration 45, loss = 0.04078745
Iteration 46, loss = 0.04054672
Iteration 47, loss = 0.04044567
Iteration 48, loss = 0.04022090
Iteration 49, loss = 0.04021507
Iteration 50, loss = 0.03997695
Iteration 51, loss = 0.03993206
Iteration 52, loss = 0.03975263
Iteration 53, loss = 0.03967170
Iteration 54, loss = 0.03955037
Iteration 55, loss = 0.03943373
Iteration 56, loss = 0.03940861
Iteration 57, loss = 0.03931313
Iteration 58, loss = 0.03917857
Iteration 59, loss = 0.03912917
Iteration 60, loss = 0.03894174
Iteration 61, loss = 0.03894810
Iteration 62, loss = 0.03883311
Iteration 63, loss = 0.03876495
Iteration 64, loss = 0.03872058
Iteration 65, loss = 0.03859459
Iteration 66, loss = 0.03857587
Iteration 67, loss = 0.03843083
Iteration 68, loss = 0.03842312
Iteration 69, loss = 0.03839191
Iteration 70, loss = 0.03819119
Iteration 71, loss = 0.03819747
Iteration 72, loss = 0.03814052
Iteration 73, loss = 0.03806205
Iteration 74, loss = 0.03793738
Iteration 75, loss = 0.03789375
Iteration 76, loss = 0.03791656
Iteration 77, loss = 0.03776275
Iteration 78, loss = 0.03782547
Iteration 79, loss = 0.03772589
Iteration 80, loss = 0.03766344
Iteration 81, loss = 0.03764105
Iteration 82, loss = 0.03756981
Iteration 83, loss = 0.03752332
Iteration 84, loss = 0.03750888
Iteration 85, loss = 0.03746016
Iteration 86, loss = 0.03742195
Iteration 87, loss = 0.03735155
Iteration 88, loss = 0.03734943
Iteration 89, loss = 0.03730015
Iteration 90, loss = 0.03724966
Iteration 91, loss = 0.03720354
Iteration 92, loss = 0.03715006
Iteration 93, loss = 0.03711774
Iteration 94, loss = 0.03707953
Iteration 95, loss = 0.03707374
Iteration 96, loss = 0.03706268
Iteration 97, loss = 0.03700206
Iteration 98, loss = 0.03698404
Iteration 99, loss = 0.03688315
Iteration 100, loss = 0.03688706
Iteration 101, loss = 0.03682844
Iteration 102, loss = 0.03679288
Iteration 103, loss = 0.03678040
Iteration 104, loss = 0.03679674
Iteration 105, loss = 0.03667365
Iteration 106, loss = 0.03664615
Iteration 107, loss = 0.03657196
Iteration 108, loss = 0.03660313
Iteration 109, loss = 0.03658378
Iteration 110, loss = 0.03657055
Iteration 111, loss = 0.03645735
Iteration 112, loss = 0.03643634
Iteration 113, loss = 0.03643269
Iteration 114, loss = 0.03637808
Iteration 115, loss = 0.03638345
Iteration 116, loss = 0.03637350
Iteration 117, loss = 0.03636890
Iteration 118, loss = 0.03627475
Iteration 119, loss = 0.03620851
Iteration 120, loss = 0.03627854
Iteration 121, loss = 0.03617749
Iteration 122, loss = 0.03616262
Iteration 123, loss = 0.03623552
Iteration 124, loss = 0.03609290
Iteration 125, loss = 0.03606263
Iteration 126, loss = 0.03606829
Iteration 127, loss = 0.03597913
Iteration 128, loss = 0.03603156
Iteration 129, loss = 0.03592314
Iteration 130, loss = 0.03592140
Iteration 131, loss = 0.03589768
Iteration 132, loss = 0.03592122
Iteration 133, loss = 0.03583071
Iteration 134, loss = 0.03582685
Iteration 135, loss = 0.03581888
Iteration 136, loss = 0.03575527
Iteration 137, loss = 0.03576077
Iteration 138, loss = 0.03576390
Iteration 139, loss = 0.03564446
Iteration 140, loss = 0.03573238
Iteration 141, loss = 0.03561227
Iteration 142, loss = 0.03564093
Iteration 143, loss = 0.03554540
Iteration 144, loss = 0.03550678
Iteration 145, loss = 0.03558682
Iteration 146, loss = 0.03555428
Iteration 147, loss = 0.03547899
Iteration 148, loss = 0.03551236
Iteration 149, loss = 0.03545537
Iteration 150, loss = 0.03545872
Iteration 151, loss = 0.03545921
Iteration 152, loss = 0.03535856
Iteration 153, loss = 0.03535120
Iteration 154, loss = 0.03531511
Iteration 155, loss = 0.03532096
Iteration 156, loss = 0.03525542
Iteration 157, loss = 0.03535543
Iteration 158, loss = 0.03521902
Iteration 159, loss = 0.03522631
Iteration 160, loss = 0.03511493
Iteration 161, loss = 0.03515447
Iteration 162, loss = 0.03515759
Iteration 163, loss = 0.03511353
Iteration 164, loss = 0.03511562
Iteration 165, loss = 0.03501333
Iteration 166, loss = 0.03507552
Iteration 167, loss = 0.03501586
Iteration 168, loss = 0.03494681
Iteration 169, loss = 0.03501847
Iteration 170, loss = 0.03495156
Iteration 171, loss = 0.03490742
Iteration 172, loss = 0.03490270
Iteration 173, loss = 0.03491274
Iteration 174, loss = 0.03493129
Iteration 175, loss = 0.03487248
Iteration 176, loss = 0.03484009
Iteration 177, loss = 0.03483083
Iteration 178, loss = 0.03485338
Iteration 179, loss = 0.03483170
Iteration 180, loss = 0.03474967
Iteration 181, loss = 0.03476176
Iteration 182, loss = 0.03473362
Iteration 183, loss = 0.03471720
Iteration 184, loss = 0.03468360
Iteration 185, loss = 0.03468519
Iteration 186, loss = 0.03473053
Iteration 187, loss = 0.03466580
Iteration 188, loss = 0.03462243
Iteration 189, loss = 0.03462854
Iteration 190, loss = 0.03471988
Iteration 191, loss = 0.03465794
Iteration 192, loss = 0.03462074
Iteration 193, loss = 0.03461703
Iteration 194, loss = 0.03462344
Iteration 195, loss = 0.03457821
Iteration 196, loss = 0.03458478
Iteration 197, loss = 0.03452343
Iteration 198, loss = 0.03450763
Iteration 199, loss = 0.03460916
Iteration 200, loss = 0.03453773
Iteration 201, loss = 0.03452568
Iteration 202, loss = 0.03446924
Iteration 203, loss = 0.03448804
Iteration 204, loss = 0.03447887
Iteration 205, loss = 0.03446712
Iteration 206, loss = 0.03450214
Iteration 207, loss = 0.03446897
Iteration 208, loss = 0.03449743
Iteration 209, loss = 0.03448207
Iteration 210, loss = 0.03439502
Iteration 211, loss = 0.03436545
Iteration 212, loss = 0.03442977
Iteration 213, loss = 0.03450460
Iteration 214, loss = 0.03439878
Iteration 215, loss = 0.03441822
Iteration 216, loss = 0.03441586
Iteration 217, loss = 0.03436760
Iteration 218, loss = 0.03435751
Iteration 219, loss = 0.03435097
Iteration 220, loss = 0.03435141
Iteration 221, loss = 0.03430566
Iteration 222, loss = 0.03427997
Iteration 223, loss = 0.03437485
Iteration 224, loss = 0.03437588
Iteration 225, loss = 0.03426597
Iteration 226, loss = 0.03435189
Iteration 227, loss = 0.03428116
Iteration 228, loss = 0.03431832
Iteration 229, loss = 0.03432122
Iteration 230, loss = 0.03425332
Iteration 231, loss = 0.03424244
Iteration 232, loss = 0.03420292
Iteration 233, loss = 0.03431488
Iteration 234, loss = 0.03413118
Iteration 235, loss = 0.03422960
Iteration 236, loss = 0.03424988
Iteration 237, loss = 0.03417415
Iteration 238, loss = 0.03422616
Iteration 239, loss = 0.03421176
Iteration 240, loss = 0.03425358
Iteration 241, loss = 0.03413340
Iteration 242, loss = 0.03419930
Iteration 243, loss = 0.03411362
Iteration 244, loss = 0.03420284
Iteration 245, loss = 0.03421035
Iteration 246, loss = 0.03412679
Iteration 247, loss = 0.03413480
Iteration 248, loss = 0.03409632
Iteration 249, loss = 0.03414656
Iteration 250, loss = 0.03420192
Iteration 251, loss = 0.03410659
Iteration 252, loss = 0.03408844
Iteration 253, loss = 0.03419972
Iteration 254, loss = 0.03412155
Iteration 255, loss = 0.03411531
Iteration 256, loss = 0.03414040
Iteration 257, loss = 0.03416871
Iteration 258, loss = 0.03412932
Iteration 259, loss = 0.03416617
Iteration 260, loss = 0.03415078
Iteration 261, loss = 0.03408730
Iteration 262, loss = 0.03410972
Iteration 263, loss = 0.03404373
Iteration 264, loss = 0.03412290
Iteration 265, loss = 0.03404934
Iteration 266, loss = 0.03403974
Iteration 267, loss = 0.03405678
Iteration 268, loss = 0.03402986
Iteration 269, loss = 0.03403274
Iteration 270, loss = 0.03397063
Iteration 271, loss = 0.03401716
Iteration 272, loss = 0.03401564
Iteration 273, loss = 0.03398589
Iteration 274, loss = 0.03400088
Iteration 275, loss = 0.03395315
Iteration 276, loss = 0.03394756
Iteration 277, loss = 0.03394241
Iteration 278, loss = 0.03400320
Iteration 279, loss = 0.03399755
Iteration 280, loss = 0.03397366
Iteration 281, loss = 0.03397519
Iteration 282, loss = 0.03392793
Iteration 283, loss = 0.03385851
Iteration 284, loss = 0.03393814
Iteration 285, loss = 0.03387319
Iteration 286, loss = 0.03381907
Iteration 287, loss = 0.03382422
Iteration 288, loss = 0.03384489
Iteration 289, loss = 0.03389247
Iteration 290, loss = 0.03376956
Iteration 291, loss = 0.03383690
Iteration 292, loss = 0.03372956
Iteration 293, loss = 0.03373684
Iteration 294, loss = 0.03374411
Iteration 295, loss = 0.03372034
Iteration 296, loss = 0.03379288
Iteration 297, loss = 0.03364999
Iteration 298, loss = 0.03359964
Iteration 299, loss = 0.03367102
Iteration 300, loss = 0.03360541
Iteration 301, loss = 0.03366017
Iteration 302, loss = 0.03357888
Iteration 303, loss = 0.03359208
Iteration 304, loss = 0.03354792
Iteration 305, loss = 0.03351826
Iteration 306, loss = 0.03351050
Iteration 307, loss = 0.03348489
Iteration 308, loss = 0.03351377
Iteration 309, loss = 0.03350615
Iteration 310, loss = 0.03345086
Iteration 311, loss = 0.03352453
Iteration 312, loss = 0.03348255
Iteration 313, loss = 0.03341568
Iteration 314, loss = 0.03340357
Iteration 315, loss = 0.03335824
Iteration 316, loss = 0.03335918
Iteration 317, loss = 0.03344348
Iteration 318, loss = 0.03342167
Iteration 319, loss = 0.03337959
Iteration 320, loss = 0.03338450
Iteration 321, loss = 0.03333623
Iteration 322, loss = 0.03336780
Iteration 323, loss = 0.03337462
Iteration 324, loss = 0.03334006
Iteration 325, loss = 0.03328814
Iteration 326, loss = 0.03327367
Iteration 327, loss = 0.03331649
Iteration 328, loss = 0.03329484
Iteration 329, loss = 0.03321903
Iteration 330, loss = 0.03325406
Iteration 331, loss = 0.03321840
Iteration 332, loss = 0.03324553
Iteration 333, loss = 0.03320735
Iteration 334, loss = 0.03320096
Iteration 335, loss = 0.03322648
Iteration 336, loss = 0.03322107
Iteration 337, loss = 0.03320650
Iteration 338, loss = 0.03315042
Iteration 339, loss = 0.03323163
Iteration 340, loss = 0.03315514
Iteration 341, loss = 0.03324359
Iteration 342, loss = 0.03318247
Iteration 343, loss = 0.03317935
Iteration 344, loss = 0.03311363
Iteration 345, loss = 0.03322182
Iteration 346, loss = 0.03313222
Iteration 347, loss = 0.03319469
Iteration 348, loss = 0.03310386
Iteration 349, loss = 0.03313806
Iteration 350, loss = 0.03312675
Iteration 351, loss = 0.03310240
Iteration 352, loss = 0.03316273
Iteration 353, loss = 0.03319333
Iteration 354, loss = 0.03312269
Iteration 355, loss = 0.03304245
Iteration 356, loss = 0.03310427
Iteration 357, loss = 0.03305537
Iteration 358, loss = 0.03310533
Iteration 359, loss = 0.03309993
Iteration 360, loss = 0.03305132
Iteration 361, loss = 0.03303779
Iteration 362, loss = 0.03312018
Iteration 363, loss = 0.03310239
Iteration 364, loss = 0.03302712
Iteration 365, loss = 0.03308022
Iteration 366, loss = 0.03306678
Iteration 367, loss = 0.03304573
Iteration 368, loss = 0.03304154
Iteration 369, loss = 0.03303560
Iteration 370, loss = 0.03301414
Iteration 371, loss = 0.03300098
Iteration 372, loss = 0.03305779
Iteration 373, loss = 0.03300176
Iteration 374, loss = 0.03297715
Iteration 375, loss = 0.03302384
Iteration 376, loss = 0.03307935
Iteration 377, loss = 0.03297576
Iteration 378, loss = 0.03302610
Iteration 379, loss = 0.03304590
Iteration 380, loss = 0.03293933
Iteration 381, loss = 0.03296948
Iteration 382, loss = 0.03299917
Iteration 383, loss = 0.03296938
Iteration 384, loss = 0.03299891
Iteration 385, loss = 0.03288057
Iteration 386, loss = 0.03293374
Iteration 387, loss = 0.03289329
Iteration 388, loss = 0.03294850
Iteration 389, loss = 0.03293310
Iteration 390, loss = 0.03293315
Iteration 391, loss = 0.03292714
Iteration 392, loss = 0.03294035
Iteration 393, loss = 0.03291305
Iteration 394, loss = 0.03290298
Iteration 395, loss = 0.03286404
Iteration 396, loss = 0.03290574
Iteration 397, loss = 0.03293031
Iteration 398, loss = 0.03292464
Iteration 399, loss = 0.03298053
Iteration 400, loss = 0.03289843
Iteration 401, loss = 0.03290820
Iteration 402, loss = 0.03293604
Iteration 403, loss = 0.03295215
Iteration 404, loss = 0.03295263
Iteration 405, loss = 0.03291320
Iteration 406, loss = 0.03290064
Training loss did not improve more than tol=0.000000 for 10 consecutive epochs. Stopping.

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(15,), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=1000,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=1, shuffle=True, solver='adam',
              tol=1e-19, validation_fraction=0.1, verbose=10, warm_start=False)

In [ ]:
# We can predict with the predict() method off of our fitted model
predictions = mlpADAM.predict(X_test)

In [ ]:
# use SciKit-Learn's built in metrics such as a classification report and confusion matrix to evaluate how well our model performed:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))

[[43843   380]
 [  572 43793]]

In [ ]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

         0.0       0.99      0.99      0.99     44223
         1.0       0.99      0.99      0.99     44365

    accuracy                           0.99     88588
   macro avg       0.99      0.99      0.99     88588
weighted avg       0.99      0.99      0.99     88588

In [ ]:
#99% accuracy rate (as well as 99% precision and recall). This is pretty good considering how few lines of code 
#we had to write! The downside however to using a Multi-Layer Preceptron model is how difficult it is to interpret 
#the model itself. The weights and biases won't be easily interpretable in relation to which 
#features are important to the model itself.

## Apply some transformations to the data and implement others models

In [ ]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")
train_df.columns

Index(['date', 'time', 'username', 'wrist', 'activity', 'acceleration_x',
       'acceleration_y', 'acceleration_z', 'gyro_x', 'gyro_y', 'gyro_z'],
      dtype='object')

In [ ]:
# Number of unique activities
unique_activities = train_df.activity.unique()
print("NUmber of unique activities: {}".format(len(unique_activities)))
replacer = {}
for i, activity in enumerate(unique_activities):
    replacer[activity] = i
train_df.activity = train_df.activity.replace(replacer)
test_df.activity = test_df.activity.replace(replacer)
train_df.head(10)

NUmber of unique activities: 2

        date                time username  ...  gyro_x  gyro_y  gyro_z
0  2017-6-30  13:51:15:847724020   viktor  ... -0.0590  0.0325 -2.9296
1  2017-6-30  13:51:16:246945023   viktor  ... -0.1757  0.0208  0.1269
2  2017-6-30  13:51:16:446233987   viktor  ... -0.9105  0.1063 -2.4367
3  2017-6-30  13:51:16:646117985   viktor  ...  0.1199 -0.4099 -2.9336
4  2017-6-30  13:51:16:846738994   viktor  ...  0.0527  0.4379  2.4922
5  2017-6-30   13:51:17:46806991   viktor  ...  0.6925 -0.2179  2.5750
6  2017-6-30  13:51:17:246767997   viktor  ...  0.0548 -0.1896  0.4473
7  2017-6-30  13:51:17:446569025   viktor  ... -0.8094 -0.7938 -1.4348
8  2017-6-30  13:51:17:646152973   viktor  ... -0.4173 -0.1904 -2.6759
9  2017-6-30  13:51:17:846502006   viktor  ...  0.0388  1.1491  1.6982

[10 rows x 11 columns]

In [ ]:
# Drop date, time and username and wrist
train_df = train_df.drop(["date", "time", "username", "wrist"] , axis=1)
test_df = test_df.drop(["date", "time", "username", "wrist"] , axis=1)

In [ ]:
train_df.head()

   activity  acceleration_x  acceleration_y  ...  gyro_x  gyro_y  gyro_z
0         0          0.2650         -0.7814  ... -0.0590  0.0325 -2.9296
1         0          0.6722         -1.1233  ... -0.1757  0.0208  0.1269
2         0          0.4399         -1.4817  ... -0.9105  0.1063 -2.4367
3         0          0.3031         -0.8125  ...  0.1199 -0.4099 -2.9336
4         0          0.4814         -0.9312  ...  0.0527  0.4379  2.4922

[5 rows x 7 columns]

In [ ]:
test_df.head()

   activity  acceleration_x  acceleration_y  ...  gyro_x  gyro_y  gyro_z
0         0          0.2650         -0.7814  ... -0.0590  0.0325 -2.9296
1         0          0.6722         -1.1233  ... -0.1757  0.0208  0.1269
2         0          0.4399         -1.4817  ... -0.9105  0.1063 -2.4367
3         0          0.3031         -0.8125  ...  0.1199 -0.4099 -2.9336
4         0          0.4814         -0.9312  ...  0.0527  0.4379  2.4922

[5 rows x 7 columns]

In [ ]:
# Define the function for training, testing and splitting
def get_all_data():
    train_values = train_df.values
    test_values = test_df.values
    np.random.shuffle(train_values)
    np.random.shuffle(test_values)
    X_train = train_values[:, 1:]
    X_test = test_values[:, 1:]
    y_train = train_values[:, 0]
    y_test = test_values[:, 0]
    return X_train, X_test, y_train, y_test

## logistic regression model

In [ ]:
# Logistic regression model
from sklearn.linear_model import LogisticRegression
X_train, X_test, y_train, y_test = get_all_data()
model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8523953582878042

In [ ]:
#logistic regression : 85,23%

## Try PCA

In [ ]:
# Try some transformations
from sklearn.decomposition import PCA

X_train, X_test, y_train, y_test = get_all_data() #generating the training set
pca = PCA(n_components=4) # initializing the PCA
pca.fit(X_train) #applying PCA
X_train = pca.transform(X_train) # transforming the dataset
X_test = pca.transform(X_test)

model.fit(X_train, y_train) #creating model
model.score(X_test, y_test) #score

0.60020544543279

In [ ]:
# worse performance , but trains faster

In [ ]:
# Scale features to be between -1 and 1
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train, X_test, y_train, y_test = get_all_data()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

model.fit(X_train, y_train)
model.score(X_test, y_test)

0.8524405111301756

In [ ]:
# little increase in performance here

## Classification and evaluation of Human Activity with neural network using keras

In [ ]:
# Neural network model

from keras.models import Sequential
from keras.layers import Dense
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils.np_utils import to_categorical

In [ ]:
X_train, X_test, y_train, y_test = get_all_data()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
n_input = X_train.shape[1] # number of features X_train.shape[1]
n_output = 2 # number of possible labels
n_samples = X_train.shape[0] # number of training samples
n_hidden_units = 15
Y_train = to_categorical(y_train)
Y_test = to_categorical(y_test)
print(Y_train.shape)
print(Y_test.shape)

(88588, 2)
(88588, 2)

## Configure model callbacks including early stopping

In [ ]:
from keras.callbacks import Callback
from keras.callbacks import EarlyStopping
class LossHistory(Callback):
    def on_train_begin(self, logs={}):
        self.losses = []

    def on_batch_end(self, batch, logs={}):
        self.losses.append(logs.get('loss'))
        
loss_history = LossHistory()
early_stopping = EarlyStopping(monitor='val_acc', patience=20)

 ## Define the model

In [ ]:
# Define the model
def create_model():
    model = Sequential()
    model.add(Dense(n_hidden_units,
                    input_dim=n_input,
                    activation="relu"))
    model.add(Dense(n_hidden_units,
                    input_dim=n_input,
                    activation="relu"))
    
    model.add(Dense(n_output, activation="softmax"))
    # Compile model
    model.compile(loss="categorical_crossentropy", optimizer="adam", metrics=['accuracy'])
    return model

## Assemble classifier and train it

In [ ]:
# create model
estimator = KerasClassifier(build_fn=create_model, epochs=20, batch_size=10, verbose=False)
estimator.fit(X_train, Y_train)
print("Score: {}".format(estimator.score(X_test, Y_test)))

Score: 0.9913419485092163

In [ ]:
# accuracy 99.13%

## Random Forest model

In [ ]:
###### Random Forest #######
from sklearn import preprocessing
encoder = preprocessing.LabelEncoder()
trainData  = train.drop('activity' , axis=1).values
trainLabel = train.activity.values

testData  = test.drop('activity' , axis=1).values
testLabel = test.activity.values

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
# encoding test labels 
encoder.fit(testLabel)
testLabelEncoder = encoder.transform(testLabel)

# encoding train labels 
encoder.fit(trainLabel)
trainLabelEncoder = encoder.transform(trainLabel)

rf = RandomForestClassifier(n_estimators=200,  n_jobs=4, min_samples_leaf=10)    
#train
rf.fit(trainData, trainLabelEncoder)

y_te_pred = rf.predict(testData)

acc = accuracy_score(testLabelEncoder, y_te_pred)
print("Random Forest Accuracy: %.5f" % (acc))

Random Forest Accuracy: 0.99162

In [ ]:
# Random Forest Accuracy: 99.162

## K-Nearest Neighbors model

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
##### K-Nearest Neighbors ######
clf = KNeighborsClassifier(n_neighbors=24)

knnModel = clf.fit(trainData , trainLabelEncoder)
y_te_pred = clf.predict(testData)

acc = accuracy_score(testLabelEncoder, y_te_pred)
print("K-Nearest Neighbors Accuracy: %.5f" % (acc))

K-Nearest Neighbors Accuracy: 0.98064

In [ ]:
K-Nearest Neighbors Accuracy: 98.064 %